@media (max-width: 500px) {
    body {
      background-image: url("/src/imagens/bg-intro-mobile.png"); 
      background-size: cover;
      flex-direction: column;
      padding: 20px;
    }
  
    .content {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
  
    .lado-esquerdo,
    .lado-direito {
      width: 100%;
      margin:0;
      padding: 20px;
    }
  
    .lado-esquerdo {
      margin-top: 50px;
      text-align: center;
    }
    .lado-esquerdo h1{
        font-size: 25px;
    }
    .lado-esquerdo p{
        font-size: 15px;
        text-align: center;
    }
  
    .lado-direito .btn-try button,
    .lado-direito .formulario,
    .lado-direito .btn-formulario {
      width: 100%;
      max-width: 100%;
    }
  
    .lado-direito .formulario {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .lado-direito .btn-formulario{
        padding: 10px 25px;
        font-size: 12px;
    }
  }
  